.containerNoticeRegisterModal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(198, 198, 198, 0.545);
    .modalBlock {
        min-height: 13rem;
        width: 40rem;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        .header {
            display: flex;
            width: 100%;
            font-size: larger;
            font-weight: 600;
            line-height: 3rem;
            padding-left: 1rem;
            text-transform: uppercase;
            min-height: 3rem;
            border-bottom: 0.2rem solid rgb(200, 200, 200);
            user-select: none;
            .closeBut{
                margin-left: auto;
                padding-right: 1.1rem;
                scale: 1.5;
                color: rgb(155, 155, 155);
                text-decoration: none;
                user-select: none;
            }

            .closeBut:hover {
                color: black;
                cursor: pointer;
            }

            .closeBut:active {
                color: rgb(124, 123, 123);
            }

        }
        .body{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            height: 9.5rem;
            .homeBut{
                border: 1px solid #0077bf;
                height: 2rem;
                width: 10rem;
                text-align: center;
                margin-left: auto;
                margin-top: auto;
                padding-bottom: 2rem;
                background-color: #0077bf;
                color: white;
                text-decoration: none;
                user-select: none;
            }
            .homeBut:hover {
                cursor: pointer;
            }

            .homeBut:active {
                background-color: #1988cd;
            }
        }

    }
}