@charset 'utf-8';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: '#fff';

  font-size: 16px;

  font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: '#000';

  scroll-behavior: smooth;
}
