

.modalcontainer {
    .modal-content {
      border-radius: 0;
    }
  
    .modal-header {
      background-color: #f1f1f1;
      color: #333;
    }
  
    .modal-body {
      padding: 20px;
    }
  
    .modal-footer {
      background-color: #f1f1f1;
      color: #333;
    }
  }
  